{% extends 'base.html' %} {% block title %}Search Data Pull{% endblock %} {%
block content %}
<div class="d-flex flex-column flex-grow-1">
  <h2 class="fw-bold text-center mt-4">Hello, {{name}}</h2>
    <div class="align-self-center">
        <form method="POST" action="/search_pull">
            <label class="text-center mt-4">Select household to return a data pull from:</label>
            <select name="hh">
                {% for hh in hhs %}
                <option value="{{ hh }}">{{ hh }}</option>
                {% endfor %}
            </select>
            <button type="submit" value="Submit" class="btn btn-sm btn-primary btn-block" formaction="{{ url_for('search_pull')}}">Search</button>
        </form>
    </div>
  <h2 class="fw-bold text-center">DATA PULL FOR HH #{{selected_num}}</h2>
  <div class="flex-grow-1 align-self-center p-5 pt-3">
    <table class="text-center table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Household Number</th>
          <th>Basket number</th>
          <th>Date of Purchase</th>
          <th>Product Number</th>
          <th>Department</th>
          <th>Commodity</th>
          <th>Spent Amount</th>
          <th>Units Purchased</th>
          <th>Store Region</th>
          <th>Week Number</th>
          <th>Year</th>
          <th>Loyalty Flag</th>
          <th>Age Range</th>
          <th>Marital Status</th>
          <th>Income Range</th>
          <th>Homeowner Description</th>
          <th>Household Composition</th>
          <th>Household Size</th>
          <th>Number of Children</th>
        </tr>
      </thead>
      <tbody>
        {% for household in households %}
        <tr>
          <td>{{ household[0].HSHD_NUM }}</td>
          <td>{{ household[1].BASKET_NUM }}</td>
          <td>{{ household[1].PURCHASE }}</td>
          <td>{{ household[1].PRODUCT_NUM }}</td>
          <td>{{ household[2].DEPARTMENT }}</td>
          <td>{{ household[2].COMMODITY }}</td>
          <td>{{ household[1].SPEND }}</td>
          <td>{{ household[1].UNITS }}</td>
          <td>{{ household[1].STORE_R }}</td>
          <td>{{ household[1].WEEK_NUM }}</td>
          <td>{{ household[1].YEAR }}</td>
          <td>{{ household[0].L }}</td>
          <td>{{ household[0].AGE_RANGE }}</td>
          <td>{{ household[0].MARITAL }}</td>
          <td>{{ household[0].INCOME_RANGE }}</td>
          <td>{{ household[0].HOMEOWNER }}</td>
          <td>{{ household[0].HSHD_COMPOSITION }}</td>
          <td>{{ household[0].HH_SIZE }}</td>
          <td>{{ household[0].CHILDREN }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
